In [1]:
import pandas as pd
import numpy as np

In [58]:
df1 = pd.read_csv("./IPL_Complete_Dataset(2008-2020)/IPL Ball-by-Ball 2008-2020.csv")
print(df1.shape)
df1.head()

(193468, 18)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [43]:
df2 = pd.read_csv("./IPL_Complete_Dataset(2008-2020)/IPL Matches 2008-2020.csv")
df2.head()
print(df2.shape)

(816, 17)

In [44]:
df = df1.merge(df2, on='id')
print(df.shape)
df.head()

(193468, 34)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,...,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193468 entries, 0 to 193467
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
 18  city              190329 non-null  object
 19  date              193468 non-null  object
 20  player_of_match   193096 non-null  object
 21  venue             193468 non-null  object
 22  neutral_venue     193468 non-null  int64
 23  team1             193468 non-null  object
 24  team2             193468 non-null  object
 25  toss_winner       193468 non-null  object
 26  toss_decision     193468 non-null  object
 27  winner            193096 non-null  object
 28  result            193096 non-null  object
 29  result_margin     189871 non-null  float64
 30  eliminator        193096 non-null  object
 31  method            3208 non-null    object
 32  umpire1           193468 non-null  object
 33  umpire2           193468 non-null  object
dtypes: float64(1), int64(10), object(23)
memory usage: 51.7+ MB

In [46]:
df.columns

Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team', 'city', 'date', 'player_of_match',
       'venue', 'neutral_venue', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'winner', 'result', 'result_margin', 'eliminator',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [47]:
df.drop(['date', 
         'city',
         'player_of_match',
         'neutral_venue',
         'toss_winner',
         'toss_decision',
         'method', 
         'umpire1', 
         'umpire2',
         'batsman', 
         'non_striker', 
         'bowler', 
         'batsman_runs',
         'extra_runs',
         'result', 
         'non_boundary',
         'eliminator',
         'result_margin',
         'dismissal_kind', 
         'player_dismissed', 
         'fielder', 
         'extras_type'], axis='columns', inplace=True)

In [48]:
df

,id,inning,over,ball,total_runs,is_wicket,batting_team,bowling_team,venue,team1,team2,winner
0,335982,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
1,335982,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
2,335982,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
3,335982,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
4,335982,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,0,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians
193464,1237181,1,12,6,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians
193465,1237181,1,13,1,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians
193466,1237181,1,13,2,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians
193467,1237181,1,13,3,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians

In [49]:
data = df.groupby(['id', 'inning']).sum()['total_runs']
data

C:\Users\praya\AppData\Local\Temp\ipykernel_35328\69004297.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = df.groupby(['id', 'inning']).sum()['total_runs']

id       inning
335982   1         222
         2          82
335983   1         240
         2         207
335984   1         129
                  ...
1237178  2         132
1237180  1         189
         2         172
1237181  1         156
         2         157
Name: total_runs, Length: 1630, dtype: int64

In [50]:
data = data.reset_index()
data

           id  inning  total_runs
0      335982       1         222
1      335982       2          82
2      335983       1         240
3      335983       2         207
4      335984       1         129
...       ...     ...         ...
1625  1237178       2         132
1626  1237180       1         189
1627  1237180       2         172
1628  1237181       1         156
1629  1237181       2         157

[1630 rows x 3 columns]

In [51]:
data = data[data['inning'] == 1]
data

           id  inning  total_runs
0      335982       1         222
2      335983       1         240
4      335984       1         129
6      335985       1         165
8      335986       1         110
...       ...     ...         ...
1620  1216547       1         201
1622  1237177       1         200
1624  1237178       1         131
1626  1237180       1         189
1628  1237181       1         156

[816 rows x 3 columns]

In [52]:
data['target'] = data['total_runs']+1
data.drop(['total_runs'], axis='columns', inplace=True)
data

C:\Users\praya\AppData\Local\Temp\ipykernel_35328\1565170818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['target'] = data['total_runs']+1
C:\Users\praya\AppData\Local\Temp\ipykernel_35328\1565170818.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['total_runs'], axis='columns', inplace=True)

           id  inning  target
0      335982       1     223
2      335983       1     241
4      335984       1     130
6      335985       1     166
8      335986       1     111
...       ...     ...     ...
1620  1216547       1     202
1622  1237177       1     201
1624  1237178       1     132
1626  1237180       1     190
1628  1237181       1     157

[816 rows x 3 columns]

In [59]:
df = df.merge(data, on='id')
df

,id,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,venue,team1,team2,winner,inning_y,target
0,335982,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
1,335982,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
2,335982,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
3,335982,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
4,335982,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,0,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,157
193464,1237181,1,12,6,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,157
193465,1237181,1,13,1,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,157
193466,1237181,1,13,2,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,157
193467,1237181,1,13,3,1,0,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,157

In [62]:
df = df[df['inning_x'] == 2]
df.head()

,id,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,venue,team1,team2,winner,inning_y,target
121,335982,2,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
122,335982,2,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
123,335982,2,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
124,335982,2,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
125,335982,2,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223

In [65]:
df.rename(columns={'total_runs' : 'runs_on_this_ball'}, inplace=True)

In [66]:
df.head()

,id,inning_x,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,team1,team2,winner,inning_y,target
121,335982,2,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
122,335982,2,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
123,335982,2,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
124,335982,2,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223
125,335982,2,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,223

In [67]:
df.drop(['inning_x', 'team1', 'team2', 'inning_y'], axis='columns', inplace=True)

In [68]:
df.head()

,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target
121,335982,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
122,335982,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
123,335982,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
124,335982,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
125,335982,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223

In [69]:
df.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [70]:
df.bowling_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [72]:
df['batting_team'] = df['batting_team'].str.replace('Delhi Daredevils','Delhi Capitals')
df['batting_team'] = df['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
df['bowling_team'] = df['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')
df['bowling_team'] = df['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [88]:
df.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [77]:
df.bowling_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions', 'Rising Pune Supergiant'], dtype=object)

In [78]:
obsolete_teams = ['Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants', 'Rising Pune Supergiant'
                  'Gujarat Lions']

for team in obsolete_teams:
        df.drop(df[df['batting_team'] == team].index, inplace=True)
        df.drop(df[df['bowling_team'] == team].index, inplace=True)

In [86]:
df['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [89]:
df.drop(df[df.batting_team=='Kochi Tuskers Kerala'].index,inplace=True)
df.drop(df[df.batting_team=='Pune Warriors'].index,inplace=True)
df.drop(df[df.batting_team=='Rising Pune Supergiants'].index,inplace=True)
df.drop(df[df.batting_team== 'Gujarat Lions'].index,inplace=True)
df.drop(df[df.batting_team=='Rising Pune Supergiant'].index,inplace=True)

In [90]:
df['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad'], dtype=object)

In [91]:
df.drop(df[df.bowling_team=='Kochi Tuskers Kerala'].index,inplace=True)
df.drop(df[df.bowling_team=='Pune Warriors'].index,inplace=True)
df.drop(df[df.bowling_team=='Rising Pune Supergiants'].index,inplace=True)
df.drop(df[df.bowling_team== 'Gujarat Lions'].index,inplace=True)
df.drop(df[df.bowling_team=='Rising Pune Supergiant'].index,inplace=True)

In [94]:
df['bowling_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [95]:
df.isnull().sum()

id                    0
over                  0
ball                  0
runs_on_this_ball     0
is_wicket             0
batting_team          0
bowling_team          0
venue                 0
winner               27
target                0
dtype: int64

In [103]:
df[df['winner'].isnull()]

,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target
121187,829813,0,1,0,0,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,NaN,188
121188,829813,0,2,1,0,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,NaN,188
121189,829813,0,3,0,0,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,NaN,188
121190,829813,0,4,0,0,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,NaN,188
121191,829813,0,5,0,0,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,NaN,188
121192,829813,0,6,1,0,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,NaN,188
121193,829813,1,1,0,0,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,NaN,188
176322,1178424,0,1,0,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176323,1178424,0,2,6,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176324,1178424,0,3,4,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176325,1178424,0,4,0,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176326,1178424,0,5,0,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176327,1178424,0,6,0,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176336,1178424,2,1,6,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176337,1178424,2,2,1,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176338,1178424,2,3,1,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176339,1178424,2,4,0,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176340,1178424,2,5,6,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176341,1178424,2,6,4,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176342,1178424,3,1,1,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176343,1178424,3,2,0,1,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176344,1178424,1,1,4,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176345,1178424,1,2,6,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176346,1178424,1,3,1,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176347,1178424,1,4,1,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176348,1178424,1,5,0,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63
176349,1178424,1,6,0,0,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,NaN,63

In [104]:
df.dropna(inplace=True)

In [105]:
df.isnull().sum()

id                   0
over                 0
ball                 0
runs_on_this_ball    0
is_wicket            0
batting_team         0
bowling_team         0
venue                0
winner               0
target               0
dtype: int64

In [106]:
df.head()

,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target
121,335982,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
122,335982,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
123,335982,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
124,335982,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223
125,335982,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223

In [107]:
df['ball_number'] = (df['over'])*6 + df['ball']
df.head()

,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target,ball_number
121,335982,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,38
122,335982,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,39
123,335982,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,40
124,335982,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,41
125,335982,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,42

In [121]:
temp = df[['id', 'runs_on_this_ball', 'is_wicket']]
temp.head()

         id  runs_on_this_ball  is_wicket
121  335982                  0          0
122  335982                  1          0
123  335982                  1          0
124  335982                  1          0
125  335982                  0          0

In [122]:
temp = temp.groupby('id').cumsum()

In [123]:
temp.rename(columns={'runs_on_this_ball':'runs', 'is_wicket': 'wickets'}, inplace=True)
temp

        runs  wickets
121        0        0
122        1        0
123        2        0
124        3        0
125        3        0
...      ...      ...
193372   154        4
193373   155        4
193374   156        4
193375   156        5
193376   157        5

[80314 rows x 2 columns]

In [124]:
temp.reset_index()

        index  runs  wickets
0         121     0        0
1         122     1        0
2         123     2        0
3         124     3        0
4         125     3        0
...       ...   ...      ...
80309  193372   154        4
80310  193373   155        4
80311  193374   156        4
80312  193375   156        5
80313  193376   157        5

[80314 rows x 3 columns]

In [125]:
df.reset_index()

,index,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target,ball_number
0,121,335982,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,38
1,122,335982,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,39
2,123,335982,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,40
3,124,335982,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,41
4,125,335982,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,42
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,17,6,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,108
80310,193373,1237181,18,1,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,109
80311,193374,1237181,18,2,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,110
80312,193375,1237181,18,3,0,1,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,111
80313,193376,1237181,18,4,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,112

In [126]:
df[['runs', 'wickets']] = temp[['runs', 'wickets']]
df

,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target,ball_number,runs,wickets
121,335982,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,38,0,0
122,335982,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,39,1,0
123,335982,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,40,2,0
124,335982,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,41,3,0
125,335982,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,42,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,17,6,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,108,154,4
193373,1237181,18,1,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,109,155,4
193374,1237181,18,2,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,110,156,4
193375,1237181,18,3,0,1,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,111,156,5
193376,1237181,18,4,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,112,157,5

In [127]:
df['balls_left'] = 120 - df['ball_number']
df['runs_to_bat'] = df['target'] - df['runs']
df

,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target,ball_number,runs,wickets,balls_left,runs_to_bat
121,335982,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,38,0,0,82,223
122,335982,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,39,1,0,81,222
123,335982,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,40,2,0,80,221
124,335982,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,41,3,0,79,220
125,335982,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,42,3,0,78,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,17,6,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,108,154,4,12,3
193373,1237181,18,1,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,109,155,4,11,2
193374,1237181,18,2,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,110,156,4,10,1
193375,1237181,18,3,0,1,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,111,156,5,9,1
193376,1237181,18,4,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,112,157,5,8,0

In [128]:
df['wickets_left'] = 10-df['wickets']
df

,id,over,ball,runs_on_this_ball,is_wicket,batting_team,bowling_team,venue,winner,target,ball_number,runs,wickets,balls_left,runs_to_bat,wickets_left
121,335982,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,38,0,0,82,223,10
122,335982,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,39,1,0,81,222,10
123,335982,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,40,2,0,80,221,10
124,335982,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,41,3,0,79,220,10
125,335982,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,42,3,0,78,220,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,17,6,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,108,154,4,12,3,6
193373,1237181,18,1,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,109,155,4,11,2,6
193374,1237181,18,2,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,110,156,4,10,1,6
193375,1237181,18,3,0,1,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,111,156,5,9,1,5
193376,1237181,18,4,1,0,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,112,157,5,8,0,5

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80314 entries, 121 to 193376
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 80314 non-null  int64
 1   over               80314 non-null  int64
 2   ball               80314 non-null  int64
 3   runs_on_this_ball  80314 non-null  int64
 4   is_wicket          80314 non-null  int64
 5   batting_team       80314 non-null  object
 6   bowling_team       80314 non-null  object
 7   venue              80314 non-null  object
 8   winner             80314 non-null  object
 9   target             80314 non-null  int64
 10  ball_number        80314 non-null  int64
 11  runs               80314 non-null  int64
 12  wickets            80314 non-null  int64
 13  balls_left         80314 non-null  int64
 14  runs_to_bat        80314 non-null  int64
 15  wickets_left       80314 non-null  int64
dtypes: int64(12), object(4)
memory usage: 10.4+ MB

In [133]:
df.drop(['over','ball','runs_on_this_ball','is_wicket','ball_number','wickets'], axis='columns', inplace=True)
df

,id,batting_team,bowling_team,venue,winner,target,runs,balls_left,runs_to_bat,wickets_left
121,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,0,82,223,10
122,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,1,81,222,10
123,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,2,80,221,10
124,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,3,79,220,10
125,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,3,78,220,10
...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,154,12,3,6
193373,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,155,11,2,6
193374,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,156,10,1,6
193375,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,156,9,1,5
193376,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Mumbai Indians,157,157,8,0,5

In [153]:
df.reset_index(drop=True, inplace=True)

In [152]:
def result(row):
    if row['winner'] == row['batting_team']:
        return 1
    else:
        return 0

df['result'] = df.apply(result, axis=1)

,id,batting_team,bowling_team,venue,winner,target,runs,balls_left,runs_to_bat,wickets_left,result
121,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,0,82,223,10,0
122,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,1,81,222,10,0
123,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,2,80,221,10,0
124,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,3,79,220,10,0
125,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,3,78,220,10,0

In [154]:
df.head()

,id,batting_team,bowling_team,venue,winner,target,runs,balls_left,runs_to_bat,wickets_left,result
0,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,0,82,223,10,0
1,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,1,81,222,10,0
2,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,2,80,221,10,0
3,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,3,79,220,10,0
4,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,223,3,78,220,10,0

In [155]:
df.drop(['winner'], axis='columns', inplace=True)

In [156]:
df.head()

,id,batting_team,bowling_team,venue,target,runs,balls_left,runs_to_bat,wickets_left,result
0,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,0,82,223,10,0
1,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,1,81,222,10,0
2,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,2,80,221,10,0
3,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,79,220,10,0
4,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,78,220,10,0

In [161]:
sorted(df['venue'].unique())

['Barabati Stadium',
 'Brabourne Stadium',
 'Buffalo Park',
 'De Beers Diamond Oval',
 'Dr DY Patil Sports Academy',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Dubai International Cricket Stadium',
 'Eden Gardens',
 'Feroz Shah Kotla',
 'Himachal Pradesh Cricket Association Stadium',
 'Holkar Cricket Stadium',
 'JSCA International Stadium Complex',
 'Kingsmead',
 'M Chinnaswamy Stadium',
 'M.Chinnaswamy Stadium',
 'MA Chidambaram Stadium, Chepauk',
 'Maharashtra Cricket Association Stadium',
 'New Wanderers Stadium',
 'Newlands',
 'OUTsurance Oval',
 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Punjab Cricket Association Stadium, Mohali',
 'Rajiv Gandhi International Stadium, Uppal',
 'Sardar Patel Stadium, Motera',
 'Sawai Mansingh Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'Sharjah Cricket Stadium',
 'Sheikh Zayed Stadium',
 "St George's Park",
 'Subrata Roy Sahara Stadium',
 'SuperSport Park',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Wankhede Stadium']

In [162]:
df['venue'] = df['venue'].str.replace('M.Chinnaswamy Stadium', 'M Chinnaswamy Stadium')
df['venue'] = df['venue'].str.replace('Punjab Cricket Association IS Bindra Stadium, Mohali', 'Punjab Cricket Association Stadium, Mohali')
df['venue'] = df['venue'].str.replace('Subrata Roy Sahara Stadium', 'Maharashtra Cricket Association Stadium')
df['venue'] = df['venue'].str.replace('Feroz Shah Kotla', 'Arun Jaitley Cricket Stadium')

C:\Users\praya\AppData\Local\Temp\ipykernel_35328\896642993.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['venue'] = df['venue'].str.replace('M.Chinnaswamy Stadium', 'M Chinnaswamy Stadium')

In [163]:
df.head()

,id,batting_team,bowling_team,venue,target,runs,balls_left,runs_to_bat,wickets_left,result
0,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,0,82,223,10,0
1,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,1,81,222,10,0
2,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,2,80,221,10,0
3,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,79,220,10,0
4,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,78,220,10,0

In [168]:
print(len(df['venue'].unique()))
sorted(df['venue'].unique())

30

['Arun Jaitley Cricket Stadium',
 'Barabati Stadium',
 'Brabourne Stadium',
 'Buffalo Park',
 'De Beers Diamond Oval',
 'Dr DY Patil Sports Academy',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Dubai International Cricket Stadium',
 'Eden Gardens',
 'Himachal Pradesh Cricket Association Stadium',
 'Holkar Cricket Stadium',
 'JSCA International Stadium Complex',
 'Kingsmead',
 'M Chinnaswamy Stadium',
 'MA Chidambaram Stadium, Chepauk',
 'Maharashtra Cricket Association Stadium',
 'New Wanderers Stadium',
 'Newlands',
 'OUTsurance Oval',
 'Punjab Cricket Association Stadium, Mohali',
 'Rajiv Gandhi International Stadium, Uppal',
 'Sardar Patel Stadium, Motera',
 'Sawai Mansingh Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'Sharjah Cricket Stadium',
 'Sheikh Zayed Stadium',
 "St George's Park",
 'SuperSport Park',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Wankhede Stadium']

In [224]:
# current run rate-
overs_played = (120-df['balls_left'])/6
df['crr'] = df['runs'] / overs_played
# required run rate-
overs_left = df['balls_left']/6
df['rrr'] = df['runs_to_bat'] / overs_left

In [227]:
df

,id,batting_team,bowling_team,venue,target,runs,balls_left,runs_to_bat,wickets_left,result,crr,rrr
0,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,0,82,223,10,0,0.000000,16.317073
1,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,1,81,222,10,0,0.153846,16.444444
2,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,2,80,221,10,0,0.300000,16.575000
3,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,79,220,10,0,0.439024,16.708861
4,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,78,220,10,0,0.428571,16.923077
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,157,154,12,3,6,1,8.555556,1.500000
80310,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,157,155,11,2,6,1,8.532110,1.090909
80311,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,157,156,10,1,6,1,8.509091,0.600000
80312,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,157,156,9,1,5,1,8.432432,0.666667
80313,1237181,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,157,157,8,0,5,1,8.410714,0.000000

In [226]:
df[df['balls_left']==0]

,id,batting_team,bowling_team,venue,target,runs,balls_left,runs_to_bat,wickets_left,result,crr,rrr
182,335983,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",241,131,0,110,7,0,6.55,inf
853,335989,Mumbai Indians,Chennai Super Kings,"MA Chidambaram Stadium, Chepauk",209,116,0,93,6,0,5.80,inf
1099,335991,Mumbai Indians,Kings XI Punjab,"Punjab Cricket Association Stadium, Mohali",183,75,0,108,5,0,3.75,inf
1916,335998,Royal Challengers Bangalore,Delhi Capitals,Arun Jaitley Cricket Stadium,192,178,0,14,5,0,8.90,inf
2509,336003,Kolkata Knight Riders,Kings XI Punjab,"Punjab Cricket Association Stadium, Mohali",179,161,0,18,4,0,8.05,inf
...,...,...,...,...,...,...,...,...,...,...,...,...
78929,1216540,Kolkata Knight Riders,Royal Challengers Bangalore,Sharjah Cricket Stadium,195,31,0,164,7,0,1.55,inf
79266,1216543,Rajasthan Royals,Delhi Capitals,Dubai International Cricket Stadium,162,28,0,134,8,0,1.40,inf
79738,1216547,Mumbai Indians,Royal Challengers Bangalore,Dubai International Cricket Stadium,202,93,0,109,8,0,4.65,inf
79836,1237177,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,201,0,0,201,6,0,0.00,inf
80193,1237180,Sunrisers Hyderabad,Delhi Capitals,Sheikh Zayed Stadium,190,167,0,23,3,0,8.35,inf

In [228]:
final_df = df[df['balls_left']!=0]
final_df.head()

,id,batting_team,bowling_team,venue,target,runs,balls_left,runs_to_bat,wickets_left,result,crr,rrr
0,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,0,82,223,10,0,0.000000,16.317073
1,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,1,81,222,10,0,0.153846,16.444444
2,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,2,80,221,10,0,0.300000,16.575000
3,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,79,220,10,0,0.439024,16.708861
4,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,3,78,220,10,0,0.428571,16.923077

In [229]:
final_df.isnull().sum()

id              0
batting_team    0
bowling_team    0
venue           0
target          0
runs            0
balls_left      0
runs_to_bat     0
wickets_left    0
result          0
crr             0
rrr             0
dtype: int64

In [230]:
final_df = final_df[['batting_team','bowling_team','venue','runs_to_bat','balls_left','wickets_left','target','crr','rrr','result']]
final_df

,batting_team,bowling_team,venue,runs_to_bat,balls_left,wickets_left,target,crr,rrr,result
0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,223,82,10,223,0.000000,16.317073,0
1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,222,81,10,223,0.153846,16.444444,0
2,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,221,80,10,223,0.300000,16.575000,0
3,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,220,79,10,223,0.439024,16.708861,0
4,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,220,78,10,223,0.428571,16.923077,0
...,...,...,...,...,...,...,...,...,...,...
80309,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,3,12,6,157,8.555556,1.500000,1
80310,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,2,11,6,157,8.532110,1.090909,1
80311,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,1,10,6,157,8.509091,0.600000,1
80312,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,1,9,5,157,8.432432,0.666667,1
80313,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,0,8,5,157,8.410714,0.000000,1

In [231]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [232]:
X_train

,batting_team,bowling_team,venue,runs_to_bat,balls_left,wickets_left,target,crr,rrr
24361,Rajasthan Royals,Mumbai Indians,Wankhede Stadium,131,62,10,134,0.310345,12.677419
45500,Kings XI Punjab,Kolkata Knight Riders,Eden Gardens,73,30,5,164,6.066667,14.600000
23450,Delhi Capitals,Mumbai Indians,Wankhede Stadium,60,111,5,179,79.333333,3.243243
80008,Sunrisers Hyderabad,Royal Challengers Bangalore,Sheikh Zayed Stadium,66,100,9,132,19.800000,3.960000
20110,Kolkata Knight Riders,Chennai Super Kings,"MA Chidambaram Stadium, Chepauk",9,4,4,154,7.500000,13.500000
...,...,...,...,...,...,...,...,...,...
21508,Rajasthan Royals,Kings XI Punjab,"Punjab Cricket Association Stadium, Mohali",191,105,9,196,2.000000,10.914286
73591,Royal Challengers Bangalore,Kolkata Knight Riders,Sheikh Zayed Stadium,2,76,8,85,11.318182,0.157895
50224,Mumbai Indians,Delhi Capitals,Wankhede Stadium,114,45,10,153,3.120000,15.200000
5205,Chennai Super Kings,Royal Challengers Bangalore,"MA Chidambaram Stadium, Chepauk",56,110,3,127,42.600000,3.054545
77967,Delhi Capitals,Sunrisers Hyderabad,Sheikh Zayed Stadium,163,68,10,163,0.000000,14.382353

In [233]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

transformation_step = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','venue'])
]
,remainder='passthrough')

In [234]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [235]:
pipe_log = Pipeline(steps=[
    ('step1', transformation_step),
    ('step2', LogisticRegression(solver='liblinear'))
])

pipe_forest = Pipeline(steps=[
    ('step1',transformation_step),
    ('step2',RandomForestClassifier())
])

In [236]:
pipe_forest.fit(X_train, y_train)
pipe_log.fit(X_train, y_train)

c:\Users\praya\.conda\envs\tf\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\praya\.conda\envs\tf\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team',
                                                   'venue'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [237]:
y_pred_log = pipe_log.predict(X_test)
y_pred_forest = pipe_forest.predict(X_test)

In [238]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred_forest)

0.9995627732667083

In [239]:
accuracy_score(y_test, y_pred_log)

0.8204871955028108

In [249]:
pipe_forest.predict_proba(X_test)[:20, :]

array([[1.  , 0.  ],
       [0.04, 0.96],
       [0.02, 0.98],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.01, 0.99],
       [0.92, 0.08],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.03, 0.97],
       [0.98, 0.02],
       [0.04, 0.96],
       [0.  , 1.  ]])

In [250]:
pipe_log.predict_proba(X_test)[:20, :]

array([[0.90555562, 0.09444438],
       [0.91283562, 0.08716438],
       [0.27962233, 0.72037767],
       [0.55402221, 0.44597779],
       [0.99742292, 0.00257708],
       [0.1203172 , 0.8796828 ],
       [0.96452874, 0.03547126],
       [0.98865768, 0.01134232],
       [0.96307607, 0.03692393],
       [0.68184894, 0.31815106],
       [0.63396615, 0.36603385],
       [0.06738192, 0.93261808],
       [0.97339736, 0.02660264],
       [0.01223651, 0.98776349],
       [0.98420987, 0.01579013],
       [0.14506561, 0.85493439],
       [0.38545067, 0.61454933],
       [0.96702641, 0.03297359],
       [0.93560813, 0.06439187],
       [0.40273024, 0.59726976]])

In [280]:
sorted(final_df['venue'].unique())

['Arun Jaitley Cricket Stadium',
 'Barabati Stadium',
 'Brabourne Stadium',
 'Buffalo Park',
 'De Beers Diamond Oval',
 'Dr DY Patil Sports Academy',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Dubai International Cricket Stadium',
 'Eden Gardens',
 'Himachal Pradesh Cricket Association Stadium',
 'Holkar Cricket Stadium',
 'JSCA International Stadium Complex',
 'Kingsmead',
 'M Chinnaswamy Stadium',
 'MA Chidambaram Stadium, Chepauk',
 'Maharashtra Cricket Association Stadium',
 'New Wanderers Stadium',
 'Newlands',
 'OUTsurance Oval',
 'Punjab Cricket Association Stadium, Mohali',
 'Rajiv Gandhi International Stadium, Uppal',
 'Sardar Patel Stadium, Motera',
 'Sawai Mansingh Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'Sharjah Cricket Stadium',
 'Sheikh Zayed Stadium',
 "St George's Park",
 'SuperSport Park',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Wankhede Stadium']

In [275]:
final_df.loc[(final_df['batting_team'] == 'Sunrisers Hyderabad') & 
             (final_df['bowling_team'] == 'Royal Challengers Bangalore') & 
             (final_df['venue'] == 'M Chinnaswamy Stadium') & 
             (final_df['target'] == 219)]

,batting_team,bowling_team,venue,runs_to_bat,balls_left,wickets_left,target,crr,rrr,result
65114,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,219,119,10,219,0.000000,11.042017,0
65115,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,219,115,10,219,0.000000,11.426087,0
65116,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,219,118,10,219,0.000000,11.135593,0
65117,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,219,117,10,219,0.000000,11.230769,0
65118,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,218,116,10,219,1.500000,11.275862,0
...,...,...,...,...,...,...,...,...,...,...
65232,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,17,5,8,219,10.539130,20.400000,0
65233,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,17,5,7,219,10.539130,20.400000,0
65234,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,17,4,7,219,10.448276,25.500000,0
65235,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,16,3,7,219,10.410256,32.000000,0
65236,Sunrisers Hyderabad,Royal Challengers Bangalore,M Chinnaswamy Stadium,15,2,7,219,10.372881,45.000000,0

In [287]:
X_test.columns

Index(['batting_team', 'bowling_team', 'venue', 'runs_to_bat', 'balls_left',
       'wickets_left', 'target', 'crr', 'rrr'],
      dtype='object')

In [277]:
import pickle

pickle.dump(pipe_log, open('model.pkl', 'wb'))

# Experiments

In [289]:
pipe = pickle.load(open('model.pkl', 'rb'))

In [290]:
input_df = pd.DataFrame({
            'batting_team': ['Chennai Super Kings'],
            'bowling_team': ['Mumbai Indians'],
            'venue': ['Wankhede Stadium'],
            'runs_to_bat': [30],
            'balls_left': [18],
            'wickets_left': [4],
            'target': [180],
            'crr': [150/17],
            'rrr': [30/3]
        })

ValueError: If using all scalar values, you must pass an index

In [ ]:
pipe.predict_proba(input_df)

In [279]:
sorted(final_df['batting_team'].unique())

['Chennai Super Kings',
 'Delhi Capitals',
 'Kings XI Punjab',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [281]:
teams = ['Arun Jaitley Cricket Stadium',
 'Barabati Stadium',
 'Brabourne Stadium',
 'Buffalo Park',
 'De Beers Diamond Oval',
 'Dr DY Patil Sports Academy',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Dubai International Cricket Stadium',
 'Eden Gardens',
 'Himachal Pradesh Cricket Association Stadium',
 'Holkar Cricket Stadium',
 'JSCA International Stadium Complex',
 'Kingsmead',
 'M Chinnaswamy Stadium',
 'MA Chidambaram Stadium, Chepauk',
 'Maharashtra Cricket Association Stadium',
 'New Wanderers Stadium',
 'Newlands',
 'OUTsurance Oval',
 'Punjab Cricket Association Stadium, Mohali',
 'Rajiv Gandhi International Stadium, Uppal',
 'Sardar Patel Stadium, Motera',
 'Sawai Mansingh Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'Sharjah Cricket Stadium',
 'Sheikh Zayed Stadium',
 "St George's Park",
 'SuperSport Park',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Wankhede Stadium']

In [282]:
type(teams)

list

In [283]:
teams.('Wankhede Stadium')

In [284]:
teams

['Arun Jaitley Cricket Stadium',
 'Barabati Stadium',
 'Brabourne Stadium',
 'Buffalo Park',
 'De Beers Diamond Oval',
 'Dr DY Patil Sports Academy',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Dubai International Cricket Stadium',
 'Eden Gardens',
 'Himachal Pradesh Cricket Association Stadium',
 'Holkar Cricket Stadium',
 'JSCA International Stadium Complex',
 'Kingsmead',
 'M Chinnaswamy Stadium',
 'MA Chidambaram Stadium, Chepauk',
 'Maharashtra Cricket Association Stadium',
 'New Wanderers Stadium',
 'Newlands',
 'OUTsurance Oval',
 'Punjab Cricket Association Stadium, Mohali',
 'Rajiv Gandhi International Stadium, Uppal',
 'Sardar Patel Stadium, Motera',
 'Sawai Mansingh Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'Sharjah Cricket Stadium',
 'Sheikh Zayed Stadium',
 "St George's Park",
 'SuperSport Park',
 'Vidarbha Cricket Association Stadium, Jamtha']